body { background-image: url(tt.jpg); //border: 2px solid blueviolet;}
.logininfo{text-align: right;}
h1{font-family: arial;color:black;}
.copyright{text-align: center;}
.pages{text-decoration: none;color:black;}
.search{text-align: center;}
.pg{color: #ff0066;}
h2{}